AUTH_SECRET=
DATABASE_URL=
DIRECT_URL=
GOOGLE_API_KEY=
GOOGLE_CALENDAR_ID=
GOOGLE_CLIENT_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=